:root {
  --verde: #009754;
  --gris: #bababa;
  --tenue: #242121;
}

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px; /* el width no va a ser más pequeña de 320px que es la dimensión más pequeña en celulares */
  height: 334px;
  text-align: center;
  color: #fff;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(7, 43, 27, 0.7679446778711485) 79%,
    rgba(3, 96, 54, 1) 100%
  );
}

header img {
  width: 150px;
  margin-top: 32px;
  align-self: center; /* forma de centrar un elemento que está dentro de un contenedor flex */
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 8px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2.4 rem;
  font-weight: bold; /* peso de la fuente */
  line-height: 2.6rem;
}

.header--title-container p {
  margin-top: 12px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 84px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 180px;
  height: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px -11px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 10px 20px -11px rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 20px -11px rgba(255, 255, 255, 1);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.header--button span {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 10px;
  background-image: url(./assets/icons/down-arrow.svg);
}

/* MAIN */

main {
  width: 100%;
  height: auto;
  background-color: #000;
}

.diego-title {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 60px;
  border-bottom: 2px solid var(--verde);
}

.diego--container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}

.diego-father {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.diego--container .background-image0 {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  background-image: url(./assets/img/perfiol.jpg);
  /*buenas prácticas para imgs de fonto*/
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.diego-conteiner--tittle {
  width: 100%;
  max-width: 400px;
}

.diego-conteiner--tittle h2 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.diego-conteiner--tittle p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--gris);
  padding: 0 20px;
}

/*MAIN*/

.main--image-conteiner {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}

.main--image-conteiner .main-title {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 60px;
  border-bottom: 2px solid var(--verde);
}

.main-image-conteiner--tittle {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto; /*esto nos ayuda a que se centre aunque no ocupemos el 100%*/
}

.main--father {
  width: 100%;
  min-width: 288px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.main--father > div {
  height: 748px;
}

.main--image-conteiner .background-image {
  width: 200px;
  height: 200px;
  margin: 0 auto; /*esto nos ayuda a que se centre aunque no ocupemos el 100%*/
  margin-bottom: 40px;
  background-image: url(./assets/img/footer.jpg);
  /*buenas prácticas para imgs de fonto*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main--image-conteiner .background-image2 {
  width: 200px;
  height: 200px;
  margin: 0 auto; /*esto nos ayuda a que se centre aunque no ocupemos el 100%*/
  margin-bottom: 40px;
  background-image: url(./assets/img/section.jpg);
  /*buenas prácticas para imgs de fonto*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main--image-conteiner h2 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.main--image-conteiner p {
  max-width: 300px;
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--gris);
}

/*TABLA*/

/*   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */

.main-tables-container {
  width: 100%;
  height: auto;
}

.main-tables-container--box {
  width: 100%;
  height: auto;
}

.main-tables-container--box p {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.table {
  width: 80%;
  height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  margin-bottom: 50px;
}

.table div {
  padding: 10px 0;
  border: 1px solid var(--verde);
  font-size: 1.4rem;
  color: var(--gris);
}

.table div:nth-child(1) {
  border-top-left-radius: 5px;
}

.table div:nth-child(2) {
  border-top-right-radius: 5px;
}

.table div:nth-child(9) {
  border-bottom-left-radius: 5px;
}

.table div:nth-child(10) {
  border-bottom-right-radius: 5px;
}

.main-skills {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  color: #fff;
}

.skills--logo {
  position: absolute; /*al contenedor padre le ponemos position relative para que este contenedor buscar al primer padre con dicha posición y se ubique a partir de él para delimitar su movimiento*/
  width: 80px;
  height: 50px;
  background-image: url(./assets/icons/logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: -35px;
  left: calc(50% - 40px);
}

.skills--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.skills--title h2 {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: 2px solid var(--verde);
  margin-bottom: 40px;
}

.skills--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--gris);
}

.skill-father {
  width: 100%;
  min-width: 288px;
}

.skill-card--container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

.skill--card-HTML {
  height: 100%;
  width: 100%;
  background-image: url(./assets/icons/html.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin-bottom: 12px;
}

.skill--card-HTML:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.skill--card-CSS {
  height: 100%;
  width: 100%;
  background-image: url(./assets/icons/css.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin-bottom: 12px;
}

.skill--card-CSS:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.skill--card-JAVASCRIPT {
  height: 100%;
  width: 100%;
  background-image: url(./assets/icons/js.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin-bottom: 12px;
}

.skill--card-JAVASCRIPT:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.skill--card-title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--verde);
  text-align: center;
}
